rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Admin Only Access (Replace '8514470262' with your actual numerical ID)
    function isAdmin() {
      return request.auth != null && request.auth.token.telegramId == 'YOUR_TELEGRAM_ID';
    }

    match /config/{document=**} {
      allow read, write: if isAdmin();
    }
    
    match /users/{userId} {
      allow read: if request.auth.token.telegramId == userId || isAdmin();
      allow write: if isAdmin();
    }
  }
}
